{:schema "kotoba.capability.repository.v1"
 :capability/version 1
 :capability/hash-contract-cid "bafkreiflhj3fslsbh7okdas2fzlhmogai64x6p3lkla6gtr7berbp7ftvi"
 :capability/definition-cid "bafyreigg7f4obntus3fdmeuxuhcatwg4ijkhyurjwh27kegrm2co2xuaxm"
 :capability/dependencies #{}
 :capability/imports #{:now-days}
 :authority "kotoba-lang/kotoba-core-contracts"
 :capability/default-policy :autonomous
 :capability/artifact
 {:format :wasm-component
  :digest-required? true
  :signature-required? true
  :path "artifacts/provider.core.wasm"
  :sha256 "939e4b4f13757b429299cbd86d24dba5b69874544828550a7628bfb690a0f7fa"
  :signature :reference-unsigned
  :exports {"now_days" {:params [], :result :f32}}
  :host-abi {:module "kotoba", :field "now_days"}}
 :capability/radicle-rid "rad:zmLoczt7YwTvY6E9JspVRVdKjSdd"
 :capability/repository "kotoba-lang/capability-time-now-days"
 :capability/id "time/now-days"
 :capability/effects #{:clock}
 :capability/provider-status :reference-implemented}
